span.edit-profile .ant-upload.ant-upload-select {
    position: absolute;
    right: 8px;
    top: 40px;
}

span.edit-profile button.ant-btn {
    background: #f18805;
    border: 1px solid #fff;
    color: #fff;
    width: 36px;
    border-radius: 50%;
    padding: 0;
    height: 36px;
    font-size: 18px;
}

.edit-profile-btn {
    position: absolute;
    right: 54px;
    bottom: -14px;
    background: orange;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    color: #ffff;
    border: 1px solid #fff;
    padding: 0;
    font-size: 16px;
}

.edit-profile-btn a {
    color: #fff;
}

.profile-image-selection button.action-btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}

.profile-image-selection button.action-btn i.anticon {
    background: #003366;
    border-radius: 50%;
    width: 36px;
    font-size: 18px;
    height: 36px;
    color: #Fff;
    line-height: 40px;
}

// .profile-pic-upload .profile-img {
//     width: 140px;
//     height: 140px;
//     margin: 0 auto;
//     overflow: hidden;
//     border-radius: 4%;
//     border: 1px solid #dddd;
// }

// .profile-pic-upload .profile-img img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }

// .profile-pic-upload {
//     padding: 30px 0px;
//     border: 1px solid #f4f4f7;
//     background: #fafafb;
// }

.profile-pic-upload {
    padding: 30px 0px;
    border: 1px solid #f4f4f7;
    background: #fafafb;

    .profile-upload-parent {
        position: relative;
        max-width: 140px;
        max-height: 140px;
        margin: auto;

        .profile-img {
            width: 140px;
            height: 140px;
            margin: 0 auto;
            overflow: hidden;
            border-radius: 4%;
            border: 1px solid #dddd;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .edit-profile-btn {
            position: absolute;
            right: 0px;
            bottom: 0px;
            border-radius: 50%;
            width: 36px;
            height: 36px;
            font-size: 16px;
            transform: translate(45%, 45%);

            a {
                color: #fff;
            }
        }
    }
}

.profile-pic-upload .ant-upload-list-item-name {
    text-align: left;
}

.information-card {
    .ant-card-body {
        padding: 24px 12px;
    }
}

.gx-custom-login-form,
.gx-custom-registration {
    & .login-brand {
        margin-bottom: 12px;
    }
}

.welcome-modal .click-btn.custom-btn {
    position: absolute;
    right: 38px;
    bottom: 22px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    color: #38d0f9;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
    line-height: 36px;
    cursor: pointer;
}

.customize-modal .ant-modal {
    width: 1200px;
}

.custom-phone {
    display: flex;
    align-items: center;
}

.custom-phone .vue-country-select.country-dropdown {
    height: 36px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    min-width: 80px;
    background-color: #f3f3f3;
}

.custom-phone input.ant-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media (max-width: 1440px) {
    .customize-modal .ant-modal {
        width: 900px;
    }
}

@media (max-width: 1024px) {
    .welcome-modal .click-btn.custom-btn {
        width: 83px;
        height: 30px;
        font-size: 14px;
        bottom: 18px;
        right: 25px;
        line-height: 30px;
    }
}

@media (max-width: 992px) {


    .customize-modal .ant-modal {
        width: 90%;

        .ant-modal-body {
            padding: 12px;
            height: 88vh;
            overflow-y: scroll;

            .gx-package-header {
                padding: 16px;

                .gx-price {
                    font-size: 24px;
                    margin-bottom: 4px;
                }
            }

            .gx-package-body {
                padding: 30px 12px;

                ul.gx-package-items {
                    width: 100%;
                    margin-bottom: 0;
                }
            }
        }
    }
}

// @media(min-width:768px) and (max-width:991px) {
//     .edit-profile-btn {
//         right: 0px;
//     }
// }

// @media (max-width:767px) {
//     .edit-profile-btn {
//         right: 20px;
//     }
// }

@media screen and (min-width: 575px) {

    .gx-custom-registration,
    .gx-custom-login-form {
        .gx-login-content {
            .gx-login-header {
                margin-bottom: 15px;
            }
        }
    }
}


#MazPhoneNumberInput {
    width:100%;
}